<div class="content">
  <% @bloggers.each do |blogger| %>
      <div class="row-fluid">
        <ul class="col-xs-6 col-xs-offset-0">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h2 class="panel-title"><%= link_to blogger.user.name,
                blog_blogger_path(blogger) %>
              </h2>
            </div>
            <% if can? [:edit, :destroy], Blogger %>
              <div class="panel-footer text-center">
                <%= link_to 'Edit', edit_blog_blogger_path(blogger) %>
              | <%= link_to 'Destroy', blog_blogger_path(blogger),
                  method: :delete,
                  data: { confirm: 'Are you sure? All of your posts will be deleted as well' } %>
              </div>
            <% end %>
          </div>
        </ul>
      </div>
  <% end %>
</div>
